/* Color Theme Swatches in Hex */
$Ingress-Resistance-1-hex: #002F3F;
$Ingress-Resistance-2-hex: #0188BD;
$Ingress-Resistance-3-hex: #01B6FD;
$Ingress-Resistance-4-hex: #034DB8;
$Ingress-Resistance-5-hex: #01A4E4;

/* Color Theme Swatches in RGBA */
$Ingress-Resistance-1-rgba: rgba(0,47,63, 1);
$Ingress-Resistance-2-rgba: rgba(0,136,189, 1);
$Ingress-Resistance-3-rgba: rgba(1,181,253, 1);
$Ingress-Resistance-4-rgba: rgba(3,77,184, 1);
$Ingress-Resistance-5-rgba: rgba(0,163,227, 1);

/* Color Theme Swatches in HSLA */
$Ingress-Resistance-1-hsla: hsla(195, 100, 12, 1);
$Ingress-Resistance-2-hsla: hsla(196, 99, 37, 1);
$Ingress-Resistance-3-hsla: hsla(196, 99, 49, 1);
$Ingress-Resistance-4-hsla: hsla(215, 96, 36, 1);
$Ingress-Resistance-5-hsla: hsla(196, 99, 44, 1);
// https://color.adobe.com/Ingress-Resistance-color-theme-2232746/
/* Color Theme Swatches in Hex */
$Ingress-Enlightened-1-hex: #044800;
$Ingress-Enlightened-2-hex: #0AB800;
$Ingress-Enlightened-3-hex: #0EF800;
$Ingress-Enlightened-4-hex: #089800;
$Ingress-Enlightened-5-hex: #0CDE00;

/* Color Theme Swatches in RGBA */
$Ingress-Enlightened-1-rgba: rgba(4,72,0, 1);
$Ingress-Enlightened-2-rgba: rgba(10,184,0, 1);
$Ingress-Enlightened-3-rgba: rgba(14,247,0, 1);
$Ingress-Enlightened-4-rgba: rgba(8,151,0, 1);
$Ingress-Enlightened-5-rgba: rgba(11,221,0, 1);

/* Color Theme Swatches in HSLA */
$Ingress-Enlightened-1-hsla: hsla(116, 100, 14, 1);
$Ingress-Enlightened-2-hsla: hsla(116, 100, 36, 1);
$Ingress-Enlightened-3-hsla: hsla(116, 100, 48, 1);
$Ingress-Enlightened-4-hsla: hsla(116, 100, 29, 1);
$Ingress-Enlightened-5-hsla: hsla(116, 100, 43, 1);
// https://color.adobe.com/Ingress-Enlightened-color-theme-2232751/